.member {
  text-align: center;
}

.member__avatar {
  margin-bottom: 10px;
}

.member__img:hover:before {
  opacity: 0;
}

.member__img:hover .member__img-text {
  opacity: 0;
}

.member__img {
  position: relative;
  max-width: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.member__img:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(75,115,181,.6);
  
  opacity: 1;
  transition: opacity .3s;
}

.member__img-pic {
  max-width: 100%;
  display: block;
}

.member__img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-family: roboto_bold;
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;

  opacity: 1;
  transition: opacity .3s;
}

.member__name {
  margin-bottom: 1px;

  font-family: roboto_bold;
  color: #221f1f;
  font-size: 18px;
}

.member__position {
  margin-bottom: 2px;

  font-family: roboto_bold;
  color: #4b73b5;
  font-size: 14px;
}

.member__desc {
  font-family: roboto_light;
  color: #221f1f;
  font-size: 14px;;
}