.news__avatar {
  width: 18.19%
}

.news__img {
  max-width: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.news__img-pic {
  max-width: 100%;
  display: block;
}

.news__info {
  width: 79.55%;
}

.news__date {
  margin-bottom: 3px;

  font-family: roboto_light;
  color: #656464;
  font-size: 14px;
}

.news__title {
  margin-bottom: 4px;

  font-family: roboto_bold;
  font-size: 18px;
  color: #221f1f;
}

.news__desc p {
  font-size: 18px;
  font-family: roboto_light;
  color: #221f1f;
}